.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  margin-right: auto;
  color: #fff;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  margin-right: 0;
  margin-top: 0;
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", "sans-serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: "Noto Serif", "Times New Roman", "sans-serif";
  margin-bottom: 215px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__video-caption {
  justify-content: space-between;
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Inter", "Arial", "sans-serif";
}
