.page {
  min-width: 1100px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #fff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}

.header__title {
  margin-left: 80px;
  max-width: 729px;
  margin-bottom: 28px;
  margin-top: 0;

  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
}

.header__description {
  position: relative;
  left: 80px;
  max-width: 683px;
  margin-top: 0;
  font-family: "Noto Serif", "Times New Roman", "sans-serif";
  font-size: 20px;
  line-height: 30px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  position: relative;
  height: 39px;
  width: 105px;
  left: 30px;
  top: 30px;
  margin-bottom: 183px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style: none;
  padding: 0;
  margin: 8px 0 0;
  position: relative;
  right: 80px;
  top: 30px;
  font-weight: 500;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  font-family: "Inter", "Arial", "sans-serif";

  font-size: 16px;
  line-height: 20px;
}

.header__span-accent {
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", "sans-serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  display: block;
}

.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  right: 5px;
  top: 124px;
}

.header__footer {
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  margin-left: 80px;
  margin-bottom: 40px;
  margin-right: 80px;
  position: relative;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header__paragraph {
  padding: 0;
  margin: 0;
}

/* videos */

.content {
}

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  margin-top: 100px;
  margin-bottom: 24px;
  margin-right: auto;
  color: #fff;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  margin-right: 0;
  margin-top: 0;
  color: #fff;
  font-family: "Noto Serif", "Times New Roman", "sans-serif";
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-family: "Noto Serif", "Times New Roman", "sans-serif";
  margin-bottom: 215px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
}

.recipes__video-caption {
  justify-content: space-between;
  display: flex;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 24px;
  font-family: "Inter", "Arial", "sans-serif";
}

/* sprint 2 part 3, reservation book a table form  */
.reservation {
  background-color: #d9e7ff;
  background-image: url("../images/background_reservation.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reservation__form {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

/* the parent container for everything except 'book a table' text at top*/
.form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* labels aka the words Name*, numGuest*, date*, email*/
label {
  margin-bottom: 8px;

  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

/* the input boxes for name, numGuests, date, email*/
input {
  width: 385px;
  height: 60px;
  font-family: "Inter", "Arial", "sans-serif";
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

/* p book a table at the top */
.reservation__title {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;

  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

/* fieldset styling */

/* p name */
.form__input {
  border-radius: 4px;
  margin-top: 0;
}

/* change the text color inside the date & time input per breif*/
.form__label[for="datetime"],
input#datetime {
  color: #000;
}

/* numGuests, date& email styling*/
.form__label {
  text-align: left;
  margin-top: 32px;
}

/* btn book a table */
.form__button {
  margin-top: 32px;
  max-width: 385px;
  height: 60px;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  transition: opacity 0.3s ease;
  color: #fff;
  background-color: #2f80ed;
}

.form__button:hover {
  opacity: 0.7;
}

/* i agree w terms of use styling */
.form__checkbox {
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 120px;
  font-family: "Inter", "Arial", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 32px;
}

/*style the checkbox */
.form__checkbox input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin: 12px;
}
/* issues with part 3
 book a table not 100px down from top of page
placeholder text should not be left aligned
 */
